* {
  box-sizing: border-box;
  margin:0;
}

body {
 font-family:"Times New Roman",sans-serif;
}

/* Navigation*/


.nav_container {
    opacity:1;
    background:#FFFFFF;
    height:70px;
}

.nav_wrapper {
    max-width:1200px;
    margin:0,auto;

}
nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:70px;
}

nav ul {

    display:flex;
    }

nav .logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
/* identical to box height */
    color: #000000;

    }
.nav_items li{
    list-style:none;
    margin-right:100px;
}
    .nav_items li:nth-last-of-type(1) {
        margin:0;
    }

.nav_items li a {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
/* identical to box height */
    color: #000000;
    text-decoration:none;
    }


/* HEADER DESIGN*/
.header-container {
    background:#FFF, url();



}








